<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/google-colabs/panadas_df_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd

data_frame_example = pd.DataFrame(
    {
        "Name": [
            "John smith",
            "Json Web",
            "Elena Ferrante",
            "Mr. Tintin",
            "Rabindranath Tagore",
            "Gangubai Kathiwadi",
            "Abala Bose"
            
        ],
        "Age": [32, 35, 67, 27, 71, 16, 56],
        "Sex": ["male", "male", "female", "male", "male", "female", "female"],
    }
)

print(data_frame_example)

                  Name  Age     Sex
0           John smith   32    male
1             Json Web   35    male
2       Elena Ferrante   67  female
3           Mr. Tintin   27    male
4  Rabindranath Tagore   71    male
5   Gangubai Kathiwadi   16  female
6           Abala Bose   56  female

In [11]:
print(data_frame_example['Age'])

0    32
1    35
2    67
3    27
4    71
5    16
6    56
Name: Age, dtype: int64

## In pandas column is known as Series
#### As a result, we can create separate Series
we can also use it as a method.

In [12]:
series = pd.Series([45, 19, 58, 78, 99])

print(series)

0    45
1    19
2    58
3    78
4    99
dtype: int64

In [13]:
description_of_series = series.describe()
print(description_of_series)

count     5.000000
mean     59.800000
std      30.638211
min      19.000000
25%      45.000000
50%      58.000000
75%      78.000000
max      99.000000
dtype: float64

# [We can describe the pandas data frame example also](https://sinhasanjib.com)

In [14]:
print(data_frame_example.describe())

             Age
count   7.000000
mean   43.428571
std    21.204222
min    16.000000
25%    29.500000
50%    35.000000
75%    61.500000
max    71.000000

In [15]:
print(data_frame_example['Age'].max())
print(data_frame_example['Age'].min())

71
16