<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/pandas_demo_three.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

people = {
    "Firstname" : ["John", "Json", "James"],
    "Lastname" : ["Smith", "Web", "Bond"],
    "Location" : ["New York", "Munich", "London"],
}

people["Firstname"]

['John', 'Json', 'James']

In [2]:
df = pd.DataFrame(people)

In [3]:
df

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich
2     James     Bond    London

## iloc is a method that accesses the rows

In [5]:
df.iloc[0] # first row

Firstname        John
Lastname        Smith
Location     New York
Name: 0, dtype: object

In [6]:
df.iloc[[0, 1]] # first two rows

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich

In [7]:
df.iloc[[0, 1], 2] # first two rows of the third column

0    New York
1      Munich
Name: Location, dtype: object

## loc mentions labels that point to indexes again, and we have our DataFrame back

In [8]:
df

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich
2     James     Bond    London

In [9]:
df.loc[[1, 2]]

  Firstname Lastname Location
1      Json      Web   Munich
2     James     Bond   London

In [11]:
df.loc[[1, 2], 'Lastname']

1     Web
2    Bond
Name: Lastname, dtype: object

In [12]:
df.loc[[0, 2], 'Lastname']

0    Smith
2     Bond
Name: Lastname, dtype: object