<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/read_write_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd


data_frame_pandas = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/tips.csv")

# print(data_frame_pandas)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series

In [3]:
# print(data_frame_pandas.tail(8))

     total_bill   tip     sex smoker   day    time  size
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [4]:
# print(data_frame_pandas.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

### We can transer the entire data to a spreadshet

In [9]:
data_frame_pandas.to_excel("tips.xlsx", sheet_name="passengers", index=False)

reading_excel_data = pd.read_excel("tips.xlsx", sheet_name="passengers")

# print(reading_excel_data)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
# print(reading_excel_data.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [11]:
print(reading_excel_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None

In [13]:
# reading_json_data = pd.read_json("https://dummyjson.com/quotes")
# print(reading_json_data)
# Note: by default you will get 30 results and the total count, you can pass "skip" & "limit" query string to get more results.
# For example: /posts?skip=5&limit=10

                                               quotes  total  skip  limit
0   {'id': 1, 'quote': 'Life isn’t about getting a...    100     0     30
1   {'id': 2, 'quote': 'Whatever the mind of man c...    100     0     30
2   {'id': 3, 'quote': 'Strive not to be a success...    100     0     30
3   {'id': 4, 'quote': 'Two roads diverged in a wo...    100     0     30
4   {'id': 5, 'quote': 'I attribute my success to ...    100     0     30
5   {'id': 6, 'quote': 'You miss 100% of the shots...    100     0     30
6   {'id': 7, 'quote': 'I’ve missed more than 9000...    100     0     30
7   {'id': 8, 'quote': 'The most difficult thing i...    100     0     30
8   {'id': 9, 'quote': 'Every strike brings me clo...    100     0     30
9   {'id': 10, 'quote': 'Definiteness of purpose i...    100     0     30
10  {'id': 11, 'quote': 'We must balance conspicuo...    100     0     30
11  {'id': 12, 'quote': 'Life is what happens to y...    100     0     30
12  {'id': 13, 'quote': 'We become what we think a...    100     0     30
13  {'id': 14, 'quote': 'Twenty years from now you...    100     0     30
14  {'id': 15, 'quote': 'Life is 10% what happens ...    100     0     30
15  {'id': 16, 'quote': 'The most common way peopl...    100     0     30
16  {'id': 17, 'quote': 'The mind is everything. W...    100     0     30
17  {'id': 18, 'quote': 'The best time to plant a ...    100     0     30
18  {'id': 19, 'quote': 'An unexamined life is not...    100     0     30
19  {'id': 20, 'quote': 'Eighty percent of success...    100     0     30
20  {'id': 21, 'quote': 'Your time is limited, so ...    100     0     30
21  {'id': 22, 'quote': 'Winning isn’t everything,...    100     0     30
22  {'id': 23, 'quote': 'I am not a product of my ...    100     0     30
23  {'id': 24, 'quote': 'Every child is an artist....    100     0     30
24  {'id': 25, 'quote': 'You can never cross the o...    100     0     30
25  {'id': 26, 'quote': 'I’ve learned that people ...    100     0     30
26  {'id': 27, 'quote': 'Either you run the day, o...    100     0     30
27  {'id': 28, 'quote': 'Whether you think you can...    100     0     30
28  {'id': 29, 'quote': 'The two most important da...    100     0     30
29  {'id': 30, 'quote': 'Whatever you can do, or d...    100     0     30

In [14]:
# print(reading_json_data.head(5))

                                              quotes  total  skip  limit
0  {'id': 1, 'quote': 'Life isn’t about getting a...    100     0     30
1  {'id': 2, 'quote': 'Whatever the mind of man c...    100     0     30
2  {'id': 3, 'quote': 'Strive not to be a success...    100     0     30
3  {'id': 4, 'quote': 'Two roads diverged in a wo...    100     0     30
4  {'id': 5, 'quote': 'I attribute my success to ...    100     0     30

In [15]:
# print(reading_json_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   quotes  30 non-null     object
 1   total   30 non-null     int64
 2   skip    30 non-null     int64
 3   limit   30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB
None

In [17]:
# ?skip=5&limit=10

reading_json_data = pd.read_json("https://dummyjson.com/quotes/?skip=5&limit=10")
print(reading_json_data)

                                              quotes  total  skip  limit
0  {'id': 6, 'quote': 'You miss 100% of the shots...    100     5     10
1  {'id': 7, 'quote': 'I’ve missed more than 9000...    100     5     10
2  {'id': 8, 'quote': 'The most difficult thing i...    100     5     10
3  {'id': 9, 'quote': 'Every strike brings me clo...    100     5     10
4  {'id': 10, 'quote': 'Definiteness of purpose i...    100     5     10
5  {'id': 11, 'quote': 'We must balance conspicuo...    100     5     10
6  {'id': 12, 'quote': 'Life is what happens to y...    100     5     10
7  {'id': 13, 'quote': 'We become what we think a...    100     5     10
8  {'id': 14, 'quote': 'Twenty years from now you...    100     5     10
9  {'id': 15, 'quote': 'Life is 10% what happens ...    100     5     10