<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/read_write_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data_frame_pandas = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/tips.csv")

# print(data_frame_pandas)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series

In [ ]:
# print(data_frame_pandas.tail(8))

     total_bill   tip     sex smoker   day    time  size
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
# print(data_frame_pandas.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

### We can transer the entire data to a spreadshet

In [46]:
import magic

data_frame_pandas.to_excel("tips.xlsx", sheet_name="passengers", index=False)

print(magic.from_file('tips.xlsx'))
# printing the mime type of the file
print(magic.from_file('tips.xlsx', mime = True))

reading_excel_data = pd.read_excel("tips.xlsx", sheet_name="passengers")

# print(reading_excel_data)

Zip archive data, at least v2.0 to extract
application/zip

In [ ]:
# print(reading_excel_data.dtypes)

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [ ]:
print(reading_excel_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None

In [ ]:
# reading_json_data = pd.read_json("https://dummyjson.com/quotes")
# print(reading_json_data)
# Note: by default you will get 30 results and the total count, you can pass "skip" & "limit" query string to get more results.
# For example: /posts?skip=5&limit=10

                                               quotes  total  skip  limit
0   {'id': 1, 'quote': 'Life isn’t about getting a...    100     0     30
1   {'id': 2, 'quote': 'Whatever the mind of man c...    100     0     30
2   {'id': 3, 'quote': 'Strive not to be a success...    100     0     30
3   {'id': 4, 'quote': 'Two roads diverged in a wo...    100     0     30
4   {'id': 5, 'quote': 'I attribute my success to ...    100     0     30
5   {'id': 6, 'quote': 'You miss 100% of the shots...    100     0     30
6   {'id': 7, 'quote': 'I’ve missed more than 9000...    100     0     30
7   {'id': 8, 'quote': 'The most difficult thing i...    100     0     30
8   {'id': 9, 'quote': 'Every strike brings me clo...    100     0     30
9   {'id': 10, 'quote': 'Definiteness of purpose i...    100     0     30
10  {'id': 11, 'quote': 'We must balance conspicuo...    100     0     30
11  {'id': 12, 'quote': 'Life is what happens to y...    100     0     30
12  {'id': 13, 'quote': 'We become what we think a...    100     0     30
13  {'id': 14, 'quote': 'Twenty years from now you...    100     0     30
14  {'id': 15, 'quote': 'Life is 10% what happens ...    100     0     30
15  {'id': 16, 'quote': 'The most common way peopl...    100     0     30
16  {'id': 17, 'quote': 'The mind is everything. W...    100     0     30
17  {'id': 18, 'quote': 'The best time to plant a ...    100     0     30
18  {'id': 19, 'quote': 'An unexamined life is not...    100     0     30
19  {'id': 20, 'quote': 'Eighty percent of success...    100     0     30
20  {'id': 21, 'quote': 'Your time is limited, so ...    100     0     30
21  {'id': 22, 'quote': 'Winning isn’t everything,...    100     0     30
22  {'id': 23, 'quote': 'I am not a product of my ...    100     0     30
23  {'id': 24, 'quote': 'Every child is an artist....    100     0     30
24  {'id': 25, 'quote': 'You can never cross the o...    100     0     30
25  {'id': 26, 'quote': 'I’ve learned that people ...    100     0     30
26  {'id': 27, 'quote': 'Either you run the day, o...    100     0     30
27  {'id': 28, 'quote': 'Whether you think you can...    100     0     30
28  {'id': 29, 'quote': 'The two most important da...    100     0     30
29  {'id': 30, 'quote': 'Whatever you can do, or d...    100     0     30

In [ ]:
# print(reading_json_data.head(5))

                                              quotes  total  skip  limit
0  {'id': 1, 'quote': 'Life isn’t about getting a...    100     0     30
1  {'id': 2, 'quote': 'Whatever the mind of man c...    100     0     30
2  {'id': 3, 'quote': 'Strive not to be a success...    100     0     30
3  {'id': 4, 'quote': 'Two roads diverged in a wo...    100     0     30
4  {'id': 5, 'quote': 'I attribute my success to ...    100     0     30

In [ ]:
# print(reading_json_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   quotes  30 non-null     object
 1   total   30 non-null     int64
 2   skip    30 non-null     int64
 3   limit   30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB
None

In [ ]:
# ?skip=5&limit=10

reading_json_data = pd.read_json("https://dummyjson.com/quotes/?skip=5&limit=10")
# print(reading_json_data)

                                              quotes  total  skip  limit
0  {'id': 6, 'quote': 'You miss 100% of the shots...    100     5     10
1  {'id': 7, 'quote': 'I’ve missed more than 9000...    100     5     10
2  {'id': 8, 'quote': 'The most difficult thing i...    100     5     10
3  {'id': 9, 'quote': 'Every strike brings me clo...    100     5     10
4  {'id': 10, 'quote': 'Definiteness of purpose i...    100     5     10
5  {'id': 11, 'quote': 'We must balance conspicuo...    100     5     10
6  {'id': 12, 'quote': 'Life is what happens to y...    100     5     10
7  {'id': 13, 'quote': 'We become what we think a...    100     5     10
8  {'id': 14, 'quote': 'Twenty years from now you...    100     5     10
9  {'id': 15, 'quote': 'Life is 10% what happens ...    100     5     10

## JSON to CSV

In [43]:
reading_json_data.to_csv("quotes.csv")


# reading_csv_data = pd.read_csv("quotes.csv")

# print(reading_csv_data.info())

In [26]:
# print(reading_csv_data.head(3))

                                              quotes  total  skip  limit
0  {'id': 6, 'quote': 'You miss 100% of the shots...    100     5     10
1  {'id': 7, 'quote': 'I’ve missed more than 9000...    100     5     10
2  {'id': 8, 'quote': 'The most difficult thing i...    100     5     10

In [37]:
!apt-get install libmagic-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libmagic-mgc libmagic1
Suggested packages:
  file
The following NEW packages will be installed:
  libmagic-dev libmagic-mgc libmagic1
0 upgraded, 3 newly installed, 0 to remove and 49 not upgraded.
Need to get 332 kB of archives.
After this operation, 5,552 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic-mgc amd64 1:5.32-2ubuntu0.4 [184 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic1 amd64 1:5.32-2ubuntu0.4 [68.6 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libmagic-dev amd64 1:5.32-2ubuntu0.4 [79.7 kB]
Fetched 332 kB in 0s (3,526 kB/s)
Selecting previously unselected package libmagic-mgc.
(Reading database ... 155639 files and directories currently installed.)
Preparing to unpack .../libmagic-mgc_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic-mgc (1:5.32-2ubuntu0.4) ...
Selecting previously unselected package libmagic1:amd64.
Preparing to unpack .../libmagic1_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic1:amd64 (1:5.32-2ubuntu0.4) ...
Selecting previously unselected package libmagic-dev:amd64.
Preparing to unpack .../libmagic-dev_1%3a5.32-2ubuntu0.4_amd64.deb ...
Unpacking libmagic-dev:amd64 (1:5.32-2ubuntu0.4) ...
Setting up libmagic-mgc (1:5.32-2ubuntu0.4) ...
Setting up libmagic1:amd64 (1:5.32-2ubuntu0.4) ...
Setting up libmagic-dev:amd64 (1:5.32-2ubuntu0.4) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [38]:
!pip install python-magic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-magic
  Downloading python_magic-0.4.27-py2.py3-none-any.whl (13 kB)
Installing collected packages: python-magic
Successfully installed python-magic-0.4.27

In [42]:
import magic

# printing the human readable type of the file
print(magic.from_file('quotes.csv'))

# printing the mime type of the file
print(magic.from_file('quotes.csv', mime = True))

UTF-8 Unicode text
text/plain