<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

people = {
    "Firstname" : ["John", "Json", "James"],
    "Lastname" : ["Smith", "Web", "Bond"],
    "Location" : ["New York", "Munich", "London"],
}

people["Firstname"]

['John', 'Json', 'James']

In [3]:
people["Location"][2]

'London'

In [ ]:
type(people)

In [4]:
df = pd.DataFrame(people)

In [ ]:
print(df)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df[['Firstname', "Location"]]

  Firstname  Location
0      John  New York
1      Json    Munich
2     James    London

In [7]:
df.iloc[[1, 2]]

  Firstname Lastname Location
1      Json      Web   Munich
2     James     Bond   London

In [9]:
df.loc[[0, 1], ['Firstname', "Location"]]

  Firstname  Location
0      John  New York
1      Json    Munich