<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/dataframe_and_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

people = {
    "Firstname" : ["John", "Json", "James"],
    "Lastname" : ["Smith", "Web", "Bond"],
    "Location" : ["New York", "Munich", "London"],
}

people["Firstname"]

['John', 'Json', 'James']

In [2]:
people["Location"][2]

'London'

In [6]:
type(people)

dict

In [3]:
df = pd.DataFrame(people)

In [4]:
print(df)

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich
2     James     Bond    London

In [5]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df[['Firstname', "Location"]]

  Firstname  Location
0      John  New York
1      Json    Munich
2     James    London

In [10]:
df.columns

Index(['Firstname', 'Lastname', 'Location'], dtype='object')

In [11]:
df.Location

0    New York
1      Munich
2      London
Name: Location, dtype: object

In [12]:
df.iloc[0]

Firstname        John
Lastname        Smith
Location     New York
Name: 0, dtype: object

In [13]:
df.iloc[[1, 2]]

  Firstname Lastname Location
1      Json      Web   Munich
2     James     Bond   London