<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/pandas_demo_four.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data_frame_pandas = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/tips.csv")

data_frame_pandas.shape

(244, 7)

In [ ]:
data_frame_pandas.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
data_frame_pandas['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
data_frame_pandas['smoker']

0       No
1       No
2       No
3       No
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: object

In [ ]:
data_frame_pandas['smoker'].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [ ]:
data_frame_pandas['total_bill'].value_counts()

13.42    3
13.81    2
15.98    2
17.92    2
10.07    2
        ..
24.71    1
21.16    1
28.97    1
22.49    1
18.78    1
Name: total_bill, Length: 229, dtype: int64

In [ ]:
data_frame_pandas.loc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [ ]:
data_frame_pandas.loc[229, 'day']

'Sat'

In [ ]:
data_frame_pandas.loc[[56, 45, 123], 'day']

56      Sat
45      Sun
123    Thur
Name: day, dtype: object

In [ ]:
data_frame_pandas.loc[56:60, 'tip': 'day']

     tip     sex smoker  day
56  3.00    Male    Yes  Sat
57  1.50  Female     No  Sat
58  1.76    Male    Yes  Sat
59  6.73    Male     No  Sat
60  3.21    Male    Yes  Sat

In [21]:
data_frame_pandas['smoker'].sort_values()

0       No
120     No
242     No
122     No
123     No
      ...
173    Yes
172    Yes
171    Yes
194    Yes
186    Yes
Name: smoker, Length: 244, dtype: object

In [23]:
data_frame_pandas.loc[120:140, 'smoker']

120     No
121     No
122     No
123     No
124     No
125     No
126     No
127     No
128     No
129     No
130     No
131     No
132     No
133     No
134     No
135     No
136     No
137     No
138    Yes
139     No
140     No
Name: smoker, dtype: object